<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ToDoList</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>Hello To Do List</h1>
    </div>
    <br/>
    <div id="mainHide">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-2">완료 여부</th>
                <th class="col-md-5">내용</th>
                <th class="col-md-2">생성 날짜</th>
                <th class="col-md-2">완료 날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todoList : ${todoList}">
                <td th:text="${todoList.idx}"></td>
                <td th:text="${todoList.status}"></td>
                <td th:text="${todoList.description}"></td>
                <td th:text="${todoList.completedDate} ? ${#temporals.format(todoList.completedDate,'yyyy-MM-dd HH:mm')} : ${todoList.completedDate}"></td>
                <td th:text="${todoList.createdDate} ? ${#temporals.format(todoList.createdDate,'yyyy-MM-dd HH:mm')} : ${todoList.createdDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
</div>
</body>
</html>